{% extends "_layouts/main" %}

{% block main %}

<section class="full-screen height-100 background-red d-flex flex-column justify-content-center">
    <span></span>
    <div class="container breadcrumbs text-white">
        <div class="breadcrumbs__child text-uppercase">
            <span style="color: rgba(246, 124, 145, 1.0);">HOME</span> <span style="color: rgba(246, 124, 145, 1.0);">></span> <span>ours people</span>
        </div>
    </div>
    <span></span>
</section>

<section class="ours container mt-100">
        <div class="row">
            <div class="col-12">
                <h2>Our People</h2>
            </div>
            <div class="col-12 mt-5 text-justify">
                <p>We believe in building strong relationships with our clients which is why we have compiled these biographies for you to read and get to know the people you may be working with. Please select a Solicitor from the list below to read their biography.</p>
            </div>
        </div>
</section>

<section class="ours container mt-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 text-center mb-5">
            <div class="info-our">
                <img class="img-responsive" src="{{ alias('@web/assets/images/ours/ours-01.png') }}" alt="">
                <div class="info-our__overlay">
                   <a class="info-our__overlay--button-detail" href="#" data-toggle="modal" data-target="#exampleModalCenter">learn more</a>
                </div>
            </div>
            <h4 class="mt-3"><span class="text-center">Charles E. Stewart</span></h4>
            <h6 class="mt-3"><span class="text-center text-uppercase">Director</span></h6>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 text-center mb-5">
            <div class="info-our">
                <img class="img-responsive" src="{{ alias('@web/assets/images/ours/ours-01.png') }}" alt="">
                <div class="info-our__overlay">
                    <a class="info-our__overlay--button-detail" href="#" data-toggle="modal" data-target="#exampleModalCenter">learn more</a>
                </div>
            </div>
            <h4 class="mt-3"><span class="text-center">Charles E. Stewart</span></h4>
            <h6 class="mt-3"><span class="text-center text-uppercase">Director</span></h6>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 text-center mb-5">
            <div class="info-our">
                <img class="img-responsive" src="{{ alias('@web/assets/images/ours/ours-01.png') }}" alt="">
                <div class="info-our__overlay">
                    <a class="info-our__overlay--button-detail" href="#" data-toggle="modal" data-target="#exampleModalCenter">learn more</a>
                </div>
            </div>
            <h4 class="mt-3"><span class="text-center">Charles E. Stewart</span></h4>
            <h6 class="mt-3"><span class="text-center text-uppercase">Director</span></h6>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 text-center mb-5">
            <div class="info-our">
                <img class="img-responsive" src="{{ alias('@web/assets/images/ours/ours-01.png') }}" alt="">
                <div class="info-our__overlay">
                    <a class="info-our__overlay--button-detail" href="#" data-toggle="modal" data-target="#exampleModalCenter">learn more</a>
                </div>
            </div>
            <h4 class="mt-3"><span class="text-center">Charles E. Stewart</span></h4>
            <h6 class="mt-3"><span class="text-center text-uppercase">Director</span></h6>
        </div>
    </div> 
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row modal-ours">
                    <div class="col-md-4">
                            <div class="modal-info-our">
                                <img class="img-responsive" src="{{ alias('@web/assets/images/ours/ours-01.png') }}" alt="">
                            </div>
                            <p>
                                <h6>1234567890</h6>
                                <h4>thong tin thong bao</h4>
                            </p>
                            <p>
                                <h6>1234567890</h6>
                                <h4>thong tin thong bao</h4>
                            </p>
                            <p>
                                <h6>1234567890</h6>
                                <h4>thong tin thong bao</h4>
                            </p>
                            <p>
                                <h6>1234567890</h6>
                                <h4>thong tin thong bao</h4>
                            </p>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <div class="d-flex flex-column">
                            <div class="more-info">
                                    <h4>thong tin</h4>
                                    <h6>xxx</h6>
                            </div>
                            <div class="more-content mt-5">
                                <p>
                                    ve in building strong relationships with our clients which is why ve in building strong relationships with our clients which is why ve in building strong relationships with our clients which is why 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="ours-contact full-screen background-gray mt-5 pt-100 pb-10">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="ours-contact__content-block">
                            <div>
                                <div class="ours-contact__content-block--child">
                                    <img class="" src="{{ alias('@web/assets/images/ours/ours-experts.png') }}" alt="">
                                </div>
                                <h2 class="mt-4 ml-4"><span class="text-center">Our Experts</span></h2>
                                <p class="mt-4 ml-4 mr-4"><span class="text-center">We have experts across a variety of sectors and we believe we are the best.</span></p>
                            </div>
                            <div class="ours-contact__button-learn-more mt-4 ml-4">
                                <a class="text-color-red" href="#">LEAR MORE...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="ours-contact__content-block">
                            <div>
                                <div class="ours-contact__content-block--child">
                                    <img class="" src="{{ alias('@web/assets/images/ours/our-location.png') }}" alt="">
                                </div>
                                <h2 class="mt-4 ml-4"><span class="text-center">Our Locations</span></h2>
                                <p class="mt-4 ml-4 mr-4"><span class="text-center">We have experts across a variety of sectors and we believe we are the best.</span></p>
                            </div>
                            <div class="ours-contact__button-learn-more mt-4 ml-4">
                                <a class="text-color-red" href="#">LEAR MORE...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="ours-contact__content-background mt-5">
                            <img class="ours-contact__content-background--parent" src="{{ alias('@web/assets/images/ours/ours-play-video.png') }}" alt="">
                            <img class="ours-contact__content-background--logo" src="{{ alias('@web/assets/images/logo-light.png') }}" alt="">
                            <a class="ours-contact__content-background--button" href="#">PLAY VIDEO</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4" style="height: 1100px; background-color: aqua;">
                form.
            </div>
        </div>
    </div>
</div>

<div class="full-screen background-red pt-100 pb-10">
    <h1 class="text-center">Testimonials</h1>
    <div class="container ours-slick mt-5">
        <div class="p-5">
            <div class="text-center">
                <p>“Words cannot describe the excellent manner in which I was treated considering the sensitive nature of the case.”</p>
                <h5>Hazel</h5>
            </div>
        </div>
        <div class="p-5">
            <div class="text-center">
                <p>“Very well treated, everything was explained in a very easy to understand way.”</p>
                <h5>WILLIAM</h5>
            </div>
        </div>
        <div class="p-5">
            <div class="text-center">
                <p>“My Solicitor was very good explaining my case and was friendly to speak with when dealing with my claim.”</p>
                <h5>Elizabeth</h5>
            </div>
        </div>     
        <div class="p-5">
            <div class="text-center">
                <p>“My Solicitor was very good explaining my case and was friendly to speak with when dealing with my claim.”</p>
                <h5>Elizabeth</h5>
            </div>
        </div>        
      </div>
</div>

{% endblock %}